.pokemon-list{
    width: 100%;
    margin: auto;
    display: grid;
    /* flex-wrap: wrap;
    flex-direction: row; */
    grid-template-columns:  repeat(5,1fr);
    

}
.search-input {
display: block;
margin-left: auto;
margin-right: auto;
color:  rgb(236, 199, 30);
border-top: none;
border-left: none;
border-right: none;
border-color:rgb(236, 199, 30) ;
text-align: center;
text-transform: uppercase;
font-size: normal;
width: 15em;
}

.search-input:hover {
    cursor: pointer;
    
}

.pokemon-list-title{
text-transform: uppercase;
text-align: center;
color: rgb(236, 199, 30);

}

.group{
display: flex;
    margin:2em auto;
    
   width: 40em;
 }
.prev,.nxt{
    margin: auto;
    width: 4rem;

}