.pokemon-list{
    margin: 0px 6rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}
.search-input {
display: block;
margin-left: auto;
margin-right: auto;
color:  rgb(236, 199, 30);
border-top: none;
border-left: none;
border-right: none;
border-color:rgb(236, 199, 30) ;
text-align: center;

font-size: small;
width: 15em;
}

.search-input:hover {
    cursor: pointer;
}

.pokemon-list-title{
text-transform: uppercase;
text-align: center;
color: rgb(236, 199, 30);

}

.group{
margin: center;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding-bottom: 1em;
}
.prev,.nxt{
    margin: auto;
    width: 3rem;

}